In [1]:
import pandas as pd

df = pd.read_csv('heart_2020_cleaned.csv')
df = df.drop(['Race', 'DiffWalking', 'GenHealth'], axis=1)
df['HeartDisease'] = df['HeartDisease'].replace(-1, 0)

df

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,Sex,AgeCategory,Diabetic,PhysicalActivity,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,-1,-1,3.0,30.0,2,8,1,1,5.0,1,-1,1
1,0,20.34,-1,-1,1,0.0,0.0,2,13,-1,1,7.0,-1,-1,-1
2,0,26.58,1,-1,-1,20.0,30.0,1,10,1,1,8.0,1,-1,-1
3,0,24.21,-1,-1,-1,0.0,0.0,2,12,-1,-1,6.0,-1,-1,1
4,0,23.71,-1,-1,-1,28.0,0.0,2,5,-1,1,8.0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,27.41,1,-1,-1,7.0,0.0,1,9,1,-1,6.0,1,-1,-1
319791,0,29.84,1,-1,-1,0.0,0.0,1,4,-1,1,5.0,1,-1,-1
319792,0,24.24,-1,-1,-1,0.0,0.0,2,6,-1,1,6.0,-1,-1,-1
319793,0,32.81,-1,-1,-1,0.0,0.0,2,2,-1,-1,12.0,-1,-1,-1
319794,0,46.56,-1,-1,-1,0.0,0.0,2,13,-1,1,8.0,-1,-1,-1

In [2]:
column_names = df.columns
print(column_names)

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'Sex', 'AgeCategory', 'Diabetic',
       'PhysicalActivity', 'SleepTime', 'Asthma', 'KidneyDisease',
       'SkinCancer'],
      dtype='object')